<div class="app-shell">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">BIP</a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mainNavbar"
        aria-controls="mainNavbar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="/client" routerLinkActive="active" class="nav-link">
              Cliente
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/driver" routerLinkActive="active" class="nav-link">
              Entregador
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/admin" routerLinkActive="active" class="nav-link">
              Admin
            </a>
          </li>
        </ul>

      </div>
    </div>
  </nav>

  <main class="app-content container-fluid">
    <router-outlet></router-outlet>
  </main>
</div>
